/*
.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

.notice {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.blogTitle {
    border: 1px solid black;
    margin-top: 2px;
    padding: 7px 0px 0px 2px;
}

.navigation {
    background-color: lightgray;
}

.blogInfo {
    border: 1px solid black;
    margin-top: -1px;
}

.remove {
    background-color: dodgerblue;
}*/